<form class="mt-5">
  <div class="row">
    <div class="col-6">
      <input type="text" placeholder="Titel" value={{this.title}}
        {{on "input" this.updateTitle}}
      />
    </div>
    <div class="col-6">
      <input type="number" placeholder="rangorde" value={{this.pickOrder}}
        {{on "input" this.updatePickOrder}}
      />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success" {{on "click" this.saveNew}}>
        Opslaan
      </button>

    </div>
    <div class="col-6">
      <button type="button" class="btn btn-secondary"{{on "click" this.cancel}}>
        Annuleer
      </button>
    </div>
  </div>
</form>