{{page-title "Vlaamse regeringen"}}


<BsNavbar
        @type="dark"
        @backgroundColor="primary"
        @collapsed={{true}}
        @onCollapse={{action (mut collapsed) true}}
        @onExpand={{action (mut collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    <LinkTo @route="ministers" class="navbar-brand">Minister Management</LinkTo>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="governments">Vlaamse regeringen</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="ministers">Ministers</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="authorities">Beheer</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
<div class="container">
    {{outlet}}
</div>